:root {
    --main-accent:#dfa132;
    --sub-accent: #ffee00;
    --text-color: white;
    --text-color-hover:black;
    --choice-color:#303030;
    --background-img:url("../img/what-the-hex-dark.png");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-position:bottom left;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
    background-image: var(--background-img);
    color: var(--text-color);
}

::selection {
    background-color: var(--sub-accent);
    color: var(--text-color-hover);
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    height:20vh
}

header h1 {
    flex: 0 1 100%;
    font-size:4vw;
    text-align:center;
    padding:vw;
}

header ul {
    display: flex;
    flex-direction: row;
}

header button, .contain button, .quizTakerSubmit, .clearStorage{
    flex: 0 1 100%;
    text-align:center;
    margin:1vw;
    cursor: pointer;
    padding:.5vw;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    background-color: var(--main-accent);
}

header button:hover, .contain button:hover, .clearStorage {
    background-color: var(--sub-accent);
}

.contain {
    height:80vh;
    box-sizing: border-box;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.intro {
    width: 70%;
    position: relative;

}

.question-wrap {
    padding:1vw;
    display: none;
}

.timer {
    width: 100%;
    padding:1vw;
}

.choices ul, .choices {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices li, .ifWrong, .quizTakerInput {
    padding: 1vw;
    margin: .5vw;
    width: 60vw;
    text-align: center;
    color: var(--text-color);
    cursor: pointer;
}

.choices li, .quizTakerInput {
    background-color: var(--choice-color);
}

.choices li:hover {
    color:var(--text-color-hover);
    background-color: var(--main-accent);
}

.quizTaker {
    display: none;
    margin:2vw;
}

.quizTakerInput {
    width: auto;
    border-radius: 5px;
}

.initialTimer {
    font-size: larger;
    font-weight: bold;
}

.ifWrong {
    background-color: none;
    color:red;
    font-size: larger;
}

.tryAgain {
    color:var(--main-accent)
}

.tryAgain:hover {
    color: var(--sub-accent);
}

.scores {
    list-style: none;
    position: absolute;
    z-index: 100;
    width: 70vw;
    height: auto;
    padding:2vw;
    background-color: var(--choice-color);
    border-radius: 5px;
    line-height: 1.5;
    display: none;
    min-height: 50vh;
}

.scores h3 {
    letter-spacing: 0.1vw;
    margin: 1vw;
}